.container{
    height:auto;
    width: 100%;
    border: 1px solid red;
    background:rgba(202, 184, 184, 0.719);
}
.topmenu{
    height:120vh;
    width:100%;
    border:1px solid green;
    display: flex;
}
.nav{
    height:50px;
    display: flex;
    width:100%;
    gap:60px;
    background-color: aliceblue;
    
}
.hambholder{
    height:45px;
    width:40%;
    border:2px solid red;
    display: flex;
    align-items: center;
}
.hamb{
    flex-direction: column;
    gap: 1px;
    margin-top:14px;
    margin-left:30px;
    border:1px solid rgb(10, 10, 26);
    border-radius:30px;
    width:33px;
    align-items: center;
    height:28px;
    display: flex;
    margin-bottom:10px;
}
.hamb span{
    height:2px;
    width:18px;
    background-color: rgb(8, 7, 12);
    margin-top:4px;
}
.b{
    margin-left:6px;
}
.kit{
    border:2px solid blue;
    height:45px;
    width:40%;
}
.ty{
    justify-content: center;
    align-items: center;
    display: flex;
    word-spacing:15px;
    font-size:20px;
}
.btnft{
   height:45px;
   width:40%;
   border:2px solid blue;
   display: flex;
   justify-content: center; 
}
.rom{
    border-radius:60px;
    width:130px;
    height:30px;
    margin-top:10px;
}
.left{
    width:35%;
    border:1px solid yellow;
    height:100vh;
}
.right{
    width:65%;
    border:1px solid lime;
    height:100vh;
}
.apex{
    border: 1px solid blue;
    display: flex;
    height:30vh;
}
.a-one{
    border: 1px solid black;
    height:20vh;
    width:30%;
    margin-top:70px;
    border-radius:20px;
    margin-left:180px;
    background-image:url("/assets/dish5.jpg");
    background-size:cover;
    background-repeat: no-repeat;
}
.a-two{
    border:1px solid black;
    height:22vh;
    width:35%;
    border-radius:15px;
    margin-top:20px;
    margin-left:70px;
    background-image:url("/assets/dish4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.secpex{
   border: 1px solid blue; 
   display: flex;
   height:30vh;
   display: flex;
}
.sec-one{
    border:1px solid black;
    height:8vh;
    width:12%;
    margin-top:50px;
    margin-left:120px;
    border-radius:70px;
    background-image:url(/assets/dish7.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.sec-two{
    border:1px solid green;
    height:25vh;
    width:40%;
    margin-top:10px;
    margin-left:160px;
    background-image:url(/assets/dish7.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.tpex{
    border:1px solid rgb(1, 10, 1);
      width:100%;
      height:39vh;
      display: flex;
      gap: 50px;

}
.t-one{
      border:1px solid lime;
      width:18%;
      height:30vh;
      margin-top:15px;
    margin-left:30px;
    background-image: url(/assets/gallary4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.t-two{
    border:1px solid black;
    width:50px;
    height:30vh;
    margin-top:10px;
}
.ttt{
    color: orangered;
}
.t-three{
    border:1px solid black;
    width:40%;
    height:33vh;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 100px;
    margin-top:10px;
}
